.header {
 color:white;
 background: $off-black;
 margin-bottom:$med-size;
 padding: $med-size 0;
}

.header__title{
 font-size: $lrg-size;
 margin: 0;
}

.header__subtitle{
    color:$off-white;
    font-size: $med-size;
    font-weight: 500;
    margin: 0;
}

@media(min-width:$desktop-breakpoint){

    .header {
        margin-bottom:$xl-size;

    }
}